@use './functions' as *; /* Включает возможность в рамках текущего файла использовать sass-функции из файла `_functions.scss`. 
Так как они будут доступны в текущей области видимости из-за того, что в конце строки написано `as *` */

/* Объявлю sass-переменные. Важно – единицы измерения не указываются.
Если удобнее другие диапазоны разрешений - можно ставить свои. 
На некоторых устройствах есть баги с определением точной ширины вьюпорта.
Эти баги разработчики избегают с помощью дробных значений для медиазапросов (1440.98) */
$laptop: 1440.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-s: 480.98;

/* Теперь пишу сами миксины медиазапросов. Все миксины будут иметь те же имена, что и sass-переменные выше.
 Медиазапросы пишу в новом CSS-синтаксисе – через знаки >, <, >=, <= */

@mixin laptop-above {
    @media (width > rem($laptop)) { // чтобы получить в значении не пиксели, а rem-единицы, использую функцию rem
        @content; // Чтобы развернуть в тело миксина все, что будет передаваться в него при дальнейших вызовах.
    }
}

 @mixin laptop {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin tablet-above {
    @media (width > rem($tablet)) {
        @content;
    }
}

 @mixin tablet {
    @media (width <= rem($tablet)) {
        @content;
    }
}

@mixin mobile-above {
    @media (width > rem($mobile)) {
        @content;
    }
}

 @mixin mobile {
    @media (width <= rem($mobile)) {
        @content;
    }
}

@mixin mobile-s-above {
    @media (width > rem($mobile-s)) {
        @content;
    }
}

 @mixin mobile-s {
    @media (width <= rem($mobile-s)) {
        @content;
    }
}

/* Миксин для правильного добавления элементу состояния фокуса. Этот миксин будет применяться только на тех устройствах,
где классический эффект наведения курсора в принципе возможен, чтобы предотвратить залипание ховер-эффекта на тач-скринах.
Например, на тач-устройствах без стилуса, это выражение не применится */
/* В аргументах миксин ожидает необязательный аргумент $hasActiveEffectOnMobile у которого по умолчанию – состояние true */
@mixin hover($hasActiveEffectOnMobile: true) {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    /* Так же в рамках миксина – отдельное условие для устройств с тач-скринами */
    @if ($hasActiveEffectOnMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}
