@use 'helpers' as *; /* Эта команда для того, чтобы подключить содержимое файла _index.scss из папки helpres, которая уже включает в себя миксины, функции и sass-миксины медиазапросов.
Название файла 'helpers/index' не пишется. Sass самостоятельно обнаружит в папке helpers этот index-файл. */

html {
    &.is-lock {
        overflow: hidden; // блокирует скролл страницы под открытым оверлеем
    }
}

body {
    @include fluid-text(18, 14);

    font-family: var(--font-family-base);
    letter-spacing: -0.03em; // letter-spacing. как и большинство параметров шрифта наследуется, поэтому, указазываю его для body и весь остальной контент будет иметь такой же letter-spacing
    color: var(--color-gray-50);
    background-color: var(--color-dark-08);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: var(--color-light);
}

/* Только у заголовков h1-h3 используется шрифт Kumbh Sans, поэтому переопределяю, вынося в отдельный селектор */
h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: var(--font-family-accent);
    font-weight: 500;
}

h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 600;
}

/* Тут задаю размеры всем заголовкам в отдельных селекторах */
h1, .h1 {
    @include fluid-text(70, 30);
    
    line-height: 1.2;
}

h2, .h2 {
    @include fluid-text(58, 28);
    
    line-height: 1.3;
}

h3, .h3 {
    @include fluid-text(40, 24);
    
    line-height: 1.5; // Это дефолтный браузерный line-height, поэтому, его можно не писать
}

h4, .h4 {
    @include fluid-text(26, 18);
}

h5, .h5 {
    @include fluid-text(24, 18);
}

h6, .h6 {
    @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

/* Глобальные стили для ссылок всего проекта */
a {
    color: inherit;

    @include hover{
        color: var(--color-accent);
    }

    /* Так уберется подчеркивание для ссылок, которым это необходимо – у которых будет атрибут class. Для всех остальных ссылок подчеркивание не убирается, стобы они не сливались с текстом */
    &[class] {
        text-decoration: none;
    }
}

/* Стилизация состояния фокусировки через псевдокласс */
:focus-visible {
    outline: rem(2) dashed var(--color-light);
    outline-offset: rem(4);
}

a,
button {
    &[aria-label] {
        position: relative;

        &::before {
            @include abs-center;
            @include square(rem(44));

            content: '';
        }
    }
}
